
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>static_image</title>
</head>

<body>
  <img src="{% static 'app1/images/floare.png' %}">
</body>

</html>
