
{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>Floare - 404</title>
</head>

<body>
  手作りの 404 ページ。<br>
  <img src="{% static 'hirumeshi.jpg' %}">
</body>

</html>
